.about-img-container{
    margin: 0 auto;
}
.about-img-container img{
    width: 30rem;
    height: 30rem;
}
.about-me-text p{
    text-align: justify;
}
.about-me{
    min-height: 90vh;
}
.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-education img {
    width: 14rem;
    height: 14rem;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 19px 15px 39px 2px rgba(0,0,0,0.62);
}
.education-text{
    padding: 1.5rem;
    margin: 1rem;
    border:1px groove #534da2;
    border-radius: 1rem;
}
.education-text h3 , .education-text h4{
    color: #534da2;
}
.education-text h3 a{
    text-decoration: none;
    color: #534da2;
}
.education-text p {
    text-align: justify; 
}
.skills-row{
    min-height: 70vh;
}