
.home-container{
    min-height: 80vh;
}
.hero-txt{
    width: 100%;
    font-family: 'poppins';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-title{
    display: flex;
    gap: 1.5rem;
    align-items: baseline;
}
.hero-title h1{
    color: #534da2;
}
.heroText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
}
.hero-btn{
    margin: 1rem 1rem;
    padding: 0.5rem;
    width: 10rem;
    height: 2.5rem;
    border-radius: 2rem;
    border: none;
    color: #fff;
}
.hero-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-img img{
    width: 26rem;
    height: 26rem;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 19px 15px 39px 2px rgba(0,0,0,0.62);
}
@media screen and (max-width: 410px) {
    .heroButtons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}