.proImg-container img{
    width: 35rem;
    height: 30rem;
    border-radius: 3rem;
    border: 1px groove lightgray;
}
.description-text{
    text-align: justify;
}
.project-details-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}