.myNav{
    background-color: #534da2;
}
.myNav .navbar-brand{
    color: white;
}
.myNav .nav-link{
    color: #fff;
}
.myNav .navbar-nav .nav-link.active {
    color: #fff ;
    border-bottom: 2px solid white;
}
.myNav .navbar-nav .nav-link:hover{
    color: #fff;
}