.footer-container{
    background-color: #534DA2;
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    
}

.social-media {
    width: 100%;
    display: flex;
    gap: 2rem;
}
.social-media h4 {
    color: rgb(187, 187, 187);
}
.social-media a{
    text-decoration: none;
    color: rgb(187, 187, 187);
}

.social-media span{
    margin-left: 1rem;
}
@media screen and (max-width: 500px) {
    .social-media span{
        display: none;
    }
}