*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'poppins';
    src: url('./assets/fonts/Poppins-Regular.ttf');
}
body{
    /* background: linear-gradient( #f6e8ae , #f8f5ea ); */
    min-height: 100vh;
}